@font-face {
    font-family: "cins";
    src : url("c-in-s.ttf") format("truetype");
}

body {
	#header {
		display: flex;
		align-items: flex-end;
		h1 {
			margin: 1vh
		}
	}

	font-family: sans-serif;
	canvas {
		max-width: 45vw;
		max-height: 60vh;
	}


	#canvases{
		display: flex;
	}

	.Ranges {
		width: 50vw;
	}

	#setting {
		display: none;
		p{
			margin:1vh;
		}
	}

	#sns {
		position: absolute;
		right:1vw;
		top: 0;
	}
}
